 * { 
font-family: Tahoma, Verdana, sans-serif;
font-size: "auto"
} 


#Hero{
  width:100%;
}

#Hero img{
  width:100%;
}


#latest-news p1 {
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  display:inline-block;
}

#latest-news pre {
  font-size: 16px;
  vertical-align: top;
  width: 956px;
  height: 300px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  display:inline-block;
}
/* the ".." tells it to go one directory up, and search for the image there */
body {
  background-image: url('../images/background.jpg');
  background-repeat: repeat-y;
}

  #what-we-are-about p {
  vertical-align:top;
  width: 450px;
  height: 300px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  display:inline-block;
  font-size: 15px;
} 

p2 {
  vertical-align:top;
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  display:inline-block;
  font-size: 20px;
} 

p3 {
  vertical-align:top;
  width: 450px;
  height: 300px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  display:inline-block;
  font-size: 25px;
} 

#wrapper {

	width:70%;
	margin:auto;
	background: hsla(0,50%,100%,0.95);

	}

nav ul {
 	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: red;
	}

nav ul li {
  	float: left;
	}

nav ul li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
	}

  footer ul #social {
	list-style-type: none;
	position: fixed;
	} 

 footer ul li {
	float: left;
	} 

 footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsla(0,50%,100%,0.85);
  color: black;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: 600px auto;
  background-color: grey;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.news-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 50px;
  text-align: center;
}

#faq-page {
font-size: 20px
}

	
